<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>continent</key>
		<string>Europe</string>
		<key>country</key>
		<array>
			<string>Spain|Madrid</string>
			<string>German|Berlin</string>
			<string>France|Paris</string>
			<string>Russia|Mascova</string>
			<string>United Kingdom|London</string>
		</array>
	</dict>
	<dict>
		<key>continent</key>
		<string>America</string>
		<key>country</key>
		<array>
			<string>United States|Washington</string>
			<string>Mexico|Mexico</string>
		</array>
	</dict>
	<dict>
		<key>continent</key>
		<string>Asia</string>
		<key>country</key>
		<array>
			<string>Singapore|Singapore</string>
			<string>VietNam|Ha Noi</string>
			<string>Japan|Tokyo</string>
			<string>Indonesia|Jakarta</string>
		</array>
	</dict>
</array>
</plist>
